.molle-regular-italic {
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: italic;
}

.text-me-one-regular {
  font-family: "Text Me One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: #8da9a9;
  margin: 0;
}

header {
  background-color: #e2c7af;
  font-family: Molle, cursive;  
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
}

header > h1 {
  font-size: 5vh;
  /* color: #3d405b; */
}

.sidebar-header {
  height: 12vh;
  border: 1px solid black;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  height: 12vh;
  width: 60%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
}


#hamburger {
  /* margin-left: 1%; */
  width: auto;
  height: 35%;
}
#profile {
  width: auto;
  height: 45%;

}

#sidebar.hidden {
  transform: translateX(-100%);
}



#sidebar {
  background-color: #e2c7af;
  width: 20%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 15vh;
  justify-content: center;
  font-weight: 900;
  transform: translateX(0); 
  transition: transform 0.3s ease-out;
}


#sidebar > a {
  font-size: 3vh;
  text-decoration: none;
  color: #3d405b;
  font-family: Text Me One, sans-serif;

}

.mobile-sidebar {
  display: flex;
  height: auto;
  width: 45%;
}

.desktop-sidebar {
  display: none;
}

@media (min-width: 600px) {
  body {
    background-color: blue;
  }  
  
    .desktop-sidebar {
      display: flex;
    }

    .mobile-sidebar {
      display: none;
    }
  }
